<div class="user-comment" id=<%="user-comment-#{comment.id}"%>->
  
  <p>
    <strong>
      <%= link_to User.find(comment.author_id).name,
                  user_profile_path(comment.author_id) %>
    </strong>

  <%= comment.created_at %>
  </p>
  <p> <%= comment.content %></p>
  <p> <%= comment.get_likes.size %> likes.

  <%= comment.get_dislikes.size %> dislikes.</p>
<% unless comment.author_id == current_user.id %>
  
  <% case current_user.voted_as_when_voted_for comment %>
    <% when true %>
    <%= button_to "unlike", { controller: "comments", action: :unlike },
      params: { vote: { comment_id: comment.id,
                        user_id: current_user.id } } %>
    <% when false %>              
    <%= button_to "undislike", { controller: "comments", action: :undislike },
      params: { vote: { comment_id: comment.id,
                        user_id: current_user.id } } %>
    <% else %>
      <%= button_to "like", { controller: "comments", action: :like },
        params: { vote: { comment_id: comment.id,
                          user_id: current_user.id } } %>

      <%= button_to "dislike", { controller: "comments", action: :dislike },
        params: { vote: { comment_id: comment.id,
                          user_id: current_user.id } } %>
  <% end %>
<% end %>
