<% title "#{@user.name}" %>

<div class="name">
  <%= gravatar_for @user, size: 180 %>
  <h3> <%= @user.name %></h3>
</div>

<%= render "friend_requests/friend_request_link", locals: @user %>

<div class="contact_information">
  <h2>Contact</h2>

  <% if @user.profile.address.present? %>
    <div id="address"> Address: <%= @user.profile.address %></div>
  <% end %>

  <% if @user.profile.phone.present? %>
    <div id="phone_number"> Phone: <%= @user.profile.phone %></div>
  <% end %>
  
</div>

<div class="about_me">
  <h2>About <%= @user.name %></h2>
  <p>
    <%= @user.profile.about_me %>
  </p>
</div>

<%= will_paginate @friends, param_name: 'friends_page'  %>
<div class="friends">
  <h2> <%= "#{@user.name}\'s Friends"%></h2>
  <ul>
    <% @friends.each do |f| %>
      <li>
      <%= gravatar_for f, size: 40 %>
      <%= link_to f.name, f %>
      </li>
    <% end %>
  </ul>
</div>
<%= will_paginate @friends, param_name: 'friends_page'  %>

<div class="my_posts">
  <h2> <%= "#{@user.name}\'s Latest  Posts"%></h2>
    <%= render @user.posts.take(10) %>
</div>
