<% title "My Friend Requests" %>

<h1> Friend Requests For <%= current_user.name %></h1>

<h3>Outgoing Requests:</h3>

<%= will_paginate @outgoing, param_name: 'outgoing_page' %>
<ul>
  <% @outgoing.each do |fr| %>
    <li>
    <%= gravatar_for User.find(fr.friend_id) ,size: 30 %>
    <%= render fr %>
    </li>
  <% end %>
</ul>

<%= will_paginate @outgoing, param_name: 'outgoing_page' %>
<br />
<h3>Incoming Requests</h3>

<%= will_paginate @incoming, param_name: 'incoming_page' %>
<ul>
  <% @incoming.each do |fr| %>
    <li>
      <%= gravatar_for User.find(fr.user_id), size: 30 %>
      <%= render fr %>
   </li>
  <% end %>
</ul>

<%= will_paginate @incoming, param_name: 'incoming_page' %>
