<!DOCTYPE html>
<html>
  <head> 
    <title>OdinFacebook - <%= yield(:title) || "The Best Place to Hang Out" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%= render 'layouts/header', locals: { title: :title} %>

    <div class="container" id="body_container">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>

    <%= debug(params) if Rails.env.development? %>

  </body>
</html>
